* {
   margin: 0; 
   padding: 0;
}
img {
    width: 100%;
}


h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

body {
    background-color: #583927;
    background-image: linear-gradient(62deg, #634b3e 0%, #a16929 100%);
    
}

div {
background-color: #cccccc;
font-size: 35px;
text-align: center;
}